{% extends 'base.html' %}


{% block title %}Error ({{ error }}){% endblock title %}

{% block content %}
<h1>Error ({{ error }})</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio libero repellat praesentium, ratione magni explicabo sunt, officiis aperiam mollitia animi quam ut iure nemo nulla voluptatem necessitatibus! Ipsam, modi quisquam.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, unde minima distinctio eos et veritatis tenetur quis ratione praesentium vero omnis libero recusandae inventore quasi quae? Libero aperiam quae cumque!</p>
{% endblock content %}